{
    auto_https disable_redirects
}

:443 {
    tls internal
    encode gzip zstd

    @backend {
        path /auth/* /licenses* /activity/* /files/* /docs /openapi.json /api/*
    }
    reverse_proxy @backend backend:8000

    reverse_proxy * frontend:5173
}
